/* src/components/ContactUs.css */
.contact-us {
  padding: 70px 20px;
  background-color: #ffffff;
  text-align: center;
}

.contact-us h2 {
  margin-bottom: 40px;
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input,
.contact-form textarea {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.contact-form button {
  padding: 12px 24px;
  font-size: 1.2em;
  margin-top: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #c026d3;
  color: white;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #d946ef;
}

.contact-info {
  flex: 1;
  max-width: 400px;
  text-align: left;
}

.contact-info p {
  margin: 10px 0;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  display: block;
  margin: 10px 0;
  font-size: 1.2em;
  color: #555;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
    align-items: center;
  }

  .contact-form {
    width: 100%;
  }

  .contact-info {
    flex: 1;
    width: 100%;
    padding: 0 20px;
    text-align: left;
    text-align: center;
  }
}
